{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>
    <p>Estou fazendo esse leilão para minha viagem ao exterior e estou vendendo boa parte do que tenho; o meu objetivo é
        arrecadar dinheiro, por isso só estou aceitando DINHEIRO como pagamento. Como funciona o leilão online:
    nesta e nas outras páginas(acessível pela seção no topo) são relacionados os itens, neles é informado o código, o menor valor aceito
    pelo produto e uma descrição do item acompanhada da imagem. Se você deseja o produto é só clicar no botão "Dar o seu lance" que você
    será redirecionado ao formulário de proposta; não se preocupe que ele é muito simples, basta informa o seu nome, telefone,
    código do produto e a sua oferta por ele.
        <b>ATENÇÃO:</b> para completar essa informação você terá que saber o código do produto, aconselho anotar o código antes de clicar para
        seu lance.
    </p>
    <font color="blue">
        <h5>Lembrando de que os produtos são usados, porém estão em ótimo condições.</h5>
    </font>
    <font color="red">
        <h4>OBRIGADO E BOA SORTE!</h4>
    </font>
    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Código:{{ product.code }}</p>
                    <p class="card-text">Preço Mínimo: R${{ product.price }}</p>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="http://127.0.0.1:8000/products/new" class="btn btn-primary">Dar seu lance</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}